@import url("https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap");
html,
body {
    padding: 0;
    margin: 0;
    font-family: "Inter", sans-serif;
    color: black;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}
/* Navbar */
.navbar {
    background-color: #ffffff;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    height: 90px;
    z-index: 150;
    flex-direction: row;
    border-bottom: 2px dashed black;
}

.navbar-items {
    display: flex;
    margin-left: auto;
    padding-right: 160px;
}

.brand {
    display: flex;
    flex-direction: row;
    padding-left: 150px;
    align-items: center;
    font-size: 35px;
}

.main-nav {
    display: flex;
    flex-direction: row;
}

.main-nav li {
    margin-left: 60px;
    display: flex;
    cursor: pointer;
}

.main-nav li:hover {
    color: #6e7492;
}

.poster {
    width: 900px;
}
img {
    border: 2px dashed black !important;
}

.demo-cont {
    height: 100%;
    margin-top: 60px;
    margin-bottom: 60px;
}
.demo,
.logo,
.demo-info-img {
    border: 0px dashed black !important;
}

.demo-info {
    width: 45%;
    height: 75vh;
    overflow-y: scroll;
    padding: 20px;
}
.demo-info-cont {
    padding: 20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    border: 2px dashed black !important;
}
.demo-info-wrap {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.figma {
    margin-top: 10px;
    display: flex;
    justify-content: center;
}

.research {
    /* display: flex; */
    /* flex-direction: row; */
}
@tailwind base;
@tailwind components;
@tailwind utilities;
